<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <appSettings>
      <add key="JsFile" value="moment.js" />
      <add key="JsFileTest" value="testsNoLocation.js" />
      <add key="TargetFunction" value="getSetOffset|configFromArray|configFromStringAndFormat|create__createDuration" />
      <add key="QunitFile" value="core-test.js" />
      <add key="PopulationSize" value="10" />
      <add key="Generations" value="5" />
      <add key="Parallelism" value="false" />
      <add key="EvaluateTimeOutMinutes" value="10" />
    </appSettings>
</configuration>